{{#each items}}
    <a href="./mall-list.html?type={{code}}" class="cate-item">
    	<div class="icon" style="background-image: url('{{formatSquareImage pic}}');"></div>
        <p>{{name}}</p>
    </a>
{{/each}}
