{{#each items}}
    <a href="./information-detail.html?code={{code}}" class="info-item">
        <div class="info-img" style="background-image: url('{{formatBigRectImage pic}}');"></div>
        <div class="info-tit">{{title}}</div>
    </a>
{{/each}}
