{{#each items}}
	<div class="mall-item" >
		<a class="wp100" href="../mall/mallDetail.html?code={{code}}">
			<div class="mall-item-img" style="background-image: url('{{formatImage advPic}}');">
			</div>
			<div class="mall-item-con">
				<p class="name">{{name}}</p>
				<div class="price">
					<samp class="samp1">{{defaultProductPrice}}</samp>
				</div>
			</div>
		</a>
	</div>
{{/each}}
