@import "./mixin";
@import "./global";

.mb10{
    margin-bottom: .1rem;
}
.mb20{
    margin-bottom: .2rem;
}
.mt10{
    margin-top: .1rem;
}
.mt20{
    margin-top: .2rem;
}
.mr20{
    margin-right: .2rem;
}
.ml30{
    margin-left: .3rem;
}
.pb30{
    padding-bottom: .3rem;
}
.pr30{
    padding-right: .3rem;
}
.pr60{
    padding-right: .6rem;
}
.pl30{
    padding-left: .3rem;
}
.ptb20lr30{
    padding: .2rem .3rem;
}
.b_e_b{
    border-bottom: 1px solid $border-color;
}
.b_e_t{
    border-top: 1px solid $border-color;
}
.over-hide{
    overflow: hidden;
}
.fr_i{
    float: right !important;
}
label.error {
    position: absolute;
    right: 0.3rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.28rem;
    color: #ff0200;
}
.tcolor_red{
    color: $red-color !important;
}
.tcolor_primary{
    color: $primary-color !important;
}

.am-button-primary-48 {
    font-size: .28rem;
    color: #484848;
    background-color: $primary-color;
}
.mask{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0,0,0,.3);
    transition: .3s;
}
// Swiper
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #fff;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: .1rem !important;
}

.login-wrapper {
    padding: 0 0 .3rem;
    
    .top-info {
        padding: 0 0.3rem;
        margin-top: 0.5rem;
        margin-bottom: 0.9rem;

        a {
            color: #999;

            &.reg-a {
                color: $primary-color;
            }
        }
    }
    .login-btn {
        padding: 0 0.3rem;
        
        .reg-a {
            display: block;
            width: 4rem;
            overflow: hidden;
            margin: .2rem auto;
            text-align: center;
            padding: .1rem 0;
            color: $primary-color;
        }
    }
}
.register-btn {
    margin-top: 0.7rem;
    padding: 0 0.3rem;
}

.user-top-wrap {
    height: 3.4rem;
    @include bg-image('user-bg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    .top-infos {
        text-align: center;
        margin: auto;

        .top-img {
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 50%;
            overflow: hidden;
            margin: 0 auto;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .mobile{
            height: .3rem;
            line-height: .3rem;
            color: #fff;
            font-size: .28rem;
            text-align: center;
            margin-top: .25rem;
        }
    }

    .children {
        position: absolute;
        right: 0.3rem;
        top: 0.3rem;
        color: #fff;
        font-size: 0.32rem;
    }
}


.headline-tip {
    display: block;
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.28rem;
    background: #fff;
    @include border-bottom-1px($border-color);

    .am-badge {
        margin-left: 0.1rem;
    }
    .notice-icon{
        width: 1rem;
        @include bg-image('新闻');
        background-repeat: no-repeat;
        background-position: center;
        background-size: .36rem;
        
        &:first-child {
            @include border-right-1px($border-color);
        }
    }
    .notice-con{
        width: 6.48rem;
        padding: 0 .5rem 0 .3rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
.right-arrow {
    display: inline-block;
    width: 0.15rem;
    height: 100%;
    background-image: url('../images/right.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.category-wrapper {
    padding: 0.6rem 1.1rem;
    background: #fff;

    .cateline {
        margin-bottom: 0.76rem;

        .cate-item {
            .cate-icon {
                width: 1.6rem;
                height: 1.6rem;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 1.6rem 1.6rem;

                &.activity-icon {
                    @include bg-image('活动管理');
                }

                &.singup-icon {
                    @include bg-image('报名管理');
                }

                &.account-icon {
                    @include bg-image('账户管理');
                }

                &.aboutus-icon {
                    @include bg-image('关于我们');
                }
            }
            p {
                text-align: center;
                margin-top: 0.36rem;
                font-size: 0.3rem;
            }
        }
    }
}

.notice-wrapper {
    padding-left: 0.3rem;
    background: #fff;

    .notice-item {
        padding: 0.5rem 0.3rem 0.5rem 0;
        @include border-bottom-1px($border-color);

        &:last-child {
            @include border-none();
        }

        .img {
            width: 0.6rem;
            height: 0.6rem;

            i.notice-icon {
                display: inline-block;
                width: 100%;
                height: 100%;
                background: url('../images/notice1.png') no-repeat center;
                background-size: 0.6rem 0.6rem;
            }
        }

        .notice-content {
            margin-left: 0.2rem;

            .title {
                font-size: 0.28rem;
                padding-bottom: 0.04rem;
                line-height: 1;
            }

            .publish-date {
                font-size: 0.24rem;
                color: #999;
            }

            .desc {
                margin-top: 0.3rem;
                padding: 0.3rem;
                line-height: 0.34rem;
                border-radius: 0.06rem;
                font-size: 0.24rem;
                color: #999;
                background: #f5f5f5;
            }
        }
    }
}
.detail-description {
    width: 100%;
    padding: 0.3rem;
    
    img{
        max-width: 100%;
    }
}

.user-list-wrap {
    font-size: 0.3rem;

    .user-list-item {
        height: 1rem;
        padding-left: 0.36rem;
        padding-right: 0.36rem;
        @include border-bottom-1px($border-color);
        background: #fff;

        &:last-child {
            @include border-none();
        }

        > a {
            overflow: visible;
        }

        &:last-child {
            border-bottom: none;
        }

        img {
            width: 0.34rem;
            margin-right: 0.28rem;
        }

        .am-badge {
            margin-left: 0.1rem;
        }
    }
}
.acecu-avatar-div {
    position: absolute;
    right: .8rem;
    width: .84rem;
    height: .84rem;
    top: .1rem;
    overflow: hidden;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.acecu-avatar-div img {
    width: 100% !important;
}
.normal-fix-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0.2rem 0.3rem;
    width: 100%;

    .am-button {
        width: 100%;
        height: 0.8rem;
        line-height: 0.8rem;
        font-size: 0.3rem;
        padding: 0 0.5rem;
        margin-top: 0.08rem;
    }
}


/*活动*/
.difficulty{
    padding: .2rem 0;
    
    .wrap{
        width: 100%;
        padding: .1rem .3rem;
        overflow: hidden;
        
        samp{
            display: inline-block;
            float: left;
            font-size: .28rem;
            margin-right: .4rem;
            line-height: .36rem;
        }
    }
    .starWrap{
        overflow: hidden;
        
        .star{
            display: block;
            width: .36rem;
            height: .36rem;
            float: left;
            margin-right: .2rem;
            background-image: url('../images/系数@2x.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: .3rem;
            
            &.active{
                background-image: url('../images/系数选中@2x.png');
            }
        }
    }
}

.activityAddEdit-wrapper{
    .picWrap{
        width: 100%;
        overflow: hidden;
        flex: 1;
        position: relative;
        
        .pic{
            width: 1.6rem;
            height: 1.6rem;
            float: left;
            margin: .1rem .08rem;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;
            
            .delete{
                display: inline-block;
                width: .5rem;
                height: .5rem;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                background-image: url("../images/游记图片删除@2x.png");
                position: absolute;
                top: 0;
                right: 0;
                z-index: 99;
            }
        }
    }
    .fileWrap{
        width: 1.6rem;
        height: 1.6rem;
        float: left;
        position: relative;
        margin: .1rem .08rem;
        
        .fileBtn{
            width: 100%;
            height: 100%;
            opacity: 0;
            position: relative;
            z-index: 99;
        }
        
        .pic img{
            height: 100%;
        }
        
        .addbackPdf{
            width: 100%;
            height: 1.6rem;
            position: absolute;
            top: 0;
            left: 0;
            background-image: url('../images/添加@2x.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
        }
        
        .moxie-shim{
            width: 1.6rem !important;
            height: 1.6rem !important;
        }
    }
    
    .advPic{
        .fileWrap{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 99;
            
            &.opacity0{
                opacity: 0;
            }
        }
    }
    .am-flexbox{
        overflow: hidden;
        position: relative;
        z-index: 9;
    }
    .form-item{
        .input-wrap{
            width: 100%;
            overflow: hidden;
            position: relative;
            z-index: 9;
            
            .item-title{
                display: inline-block;
            }
            .input-item{
                flex: none;
                width: 5rem;
            }
        }
        .textarea-wrap{
            padding-left: 1.6rem;
            position: relative;
            
            .item-title{
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        .dateVal{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 99;
            opacity: 0;
        }
    }
    
    .subBtn-wrap{
        padding: 0 .3rem;
        margin: 1rem 0;
        
        .am-button{
            font-size: .32rem;
        }
    }
    
}

.course-orders-wrap {
    .scroll-content{
        position: absolute;
    }
    .am-tabs-bar {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        background-color: #fff;
        
        .am-tabs-tab{
            width: 1.8rem;
            text-align: center;
            float: left;
        }
    }
    
    .am-tabs-content{
        margin-top: .87rem;
    }

    .orders-list {
        .order-item {
            margin-top: 0.2rem;
            background: #fff;

            .order-item-header {
                height: 0.7rem;
                line-height: 0.7rem;
                color: #999;
                font-size: 0.24rem;
                border-bottom: 1px solid $border-color;
                padding: 0 0.3rem;
            }

            .order-item-cont {
                position: relative;
                padding: 0.2rem 0.3rem;
                width: 100%;

                .order-img {
                    width: 2rem;
                    height: 1.5rem;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .order-name-infos {
                    height: 1.5rem;
                    padding-left: 0.2rem;

                    .am-flexbox {
                        height: 100%;
                    }

                    h1 {
                        font-size: 0.3rem;
                    }

                    .order-infos {
                        font-size: 0.24rem;
                        padding-top: 0.04rem;

                        span {
                            border-right: 1px solid $border-color;

                            &:last-child {
                                border-right: none;
                            }

                            &.pdl {
                                padding-left: 0.2rem;
                            }

                            &.pdr {
                                padding-right: 0.2rem;
                            }
                        }
                    }
                }

                .order-addr, .order-desc {
                    font-size: 0.22rem;
                    color: #999;
                    line-height: 1.2;
                }

                .order-addr {
                    background: url("../images/addr.png") no-repeat left center;
                    background-size: 0.18rem;
                    padding-left: 0.28rem;
                    width: 100%;

                    span {
                        width: 100%;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }

                .order-status {
                    position: absolute;
                    top: 0.2rem;
                    right: 0.3rem;
                    font-size: 0.24rem;
                    color: $primary-color;
                }
            }
            
            .totalAmout{
                font-size: .28rem;
                text-align: right;
                border-top: 1px solid $border-color;
                padding: .15rem .3rem;
                
                samp{
                    color: $red-color;
                }
                
                span{
                    color: #999;
                    font-size: .24rem;
                }
            }
            
            .order-item-footer {
                border-top: 1px solid $border-color;
                height: 1rem;
                padding: 0 0.3rem;

                .am-button {
                    background-color: transparent;
                    color: #999;
                    border: 0.02rem solid $border-color;
                    font-size: 0.28rem;
                    height: 0.64rem;
                    line-height: 0.64rem;
                    float: right;
                    margin-top: 0.17rem;

                    &+.am-button {
                        margin-right: 0.2rem;
                    }
                }
                
                .am-button-red{
                    color: #fff;
                    border: 0.02rem solid $red-color;
                    background-color: $red-color;
                }
            }
            
        }
    }
}
.mall-item{
    display: block;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    border-top: 1px solid #eee;
    padding: .3rem;
    position: relative; 
    
    &:first-child{
        border: 0;
    }
    
    .mall-item-img{
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        overflow: hidden;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        
        .hot{
            height: .74rem;
            padding: 0 .1rem;
            background-image: url('../images/底@2x.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9;
            font-size: .24rem;
            line-height: .6rem;
            color: #fff;
        }
    }
    
    .mall-item-con{
        width: 4.13rem;
        height: 2.4rem;
        position: relative;
        
        .name{
            display: inline-block;
            width: 100%;
            max-height: .8rem;
            overflow: hidden;
            font-size: .28rem;
        }
        .slogan{
            display: inline-block;
            width: 100%;
            max-height: .8rem;
            overflow: hidden;
            font-size: .24rem;
            color: $red-color;
        }
        .price{
            position: absolute;
            left: 0;
            bottom: 0;
            line-height: 1;
            
            .samp1{
                color: $red-color;
                font-size: .34rem;
                margin-right: .15rem;
                
                i{
                    font-size: .24rem;
                    font-style: normal;
                }
            }
            
            .samp2{
                display: inline-block;
                color: #999;
                font-size: .24rem;
                margin-top: .05rem;
            }
        }
        
    }
}
.leaseOrder-item{
    .orderList-price{
        width: 2rem;
        text-align: right;
        position: absolute;
        top: 0;
        right: 0;
        
        p{
            color: $red-color !important;
            font-size: .26rem !important;
        }
    }
}
.orderPro-list{
    width: 100%;
    padding: 0 .3rem;
    background-color: #fff;
    position: relative;
    
    .mall-item{
        padding: .3rem 0;
        
        .mall-item-img{
            width: 1.8rem;
            height: 1.8rem;
        }
        
        .mall-item-con{
            width: 4.83rem;
            height: 1.8rem;
            line-height: 1.4;
            
            .name{
                font-size: .26rem;
                white-space: nowrap;
                text-overflow: ellipsis;
                min-height: auto;
            }
            
            .slogan{
                color: #666;
            }
            
            .price {
                .samp1{
                    font-size: .3rem;
                }
                
                .samp2 {
                    font-size: .3rem;
                    color: #484848;
                    margin-top: 0;
                }
            }
        }
        
    }
    
}
.detail-swiper{
    width: 100%;
    overflow: hidden;
    
    .swiper-slide{
        
        .mallDetail-img{
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    
    .swiper-pagination-bullet{
        opacity: 1;
        width: .16rem;
        height: .16rem;
        background-color: #ccc;
        
        &.swiper-pagination-bullet-active{
            background-color: #fff;
        }
    }
    
}
.activityDetail-swiper{
    height: 3.6rem;
    
    .swiper-slide{
        height: 3.6rem;
    }
}
.detail-title{
    padding: .2rem 1rem .2rem .3rem;
    position: relative;
    
    .name{
        font-size: .32rem;
        margin-bottom: .1rem;
    }
    .slogan{
        font-size: .24rem;
        color: $red-color;
    }
    
    .price1{
        margin: .2rem 0 0;
        
        samp{
            font-size: .4rem;
            color: $red-color;
            display: inline-block;
            line-height: 1;
            
            i{
                font-size: .24rem;
                font-style: normal;
            }
        }
        
        
    }
    .price2{
        font-size: .22rem;
        color: #999;
        text-decoration: line-through;
        
        i{
            font-style: normal;
        }
    }
    
    .quantity{
        i{
            font-style: normal;
        }
    }
}
.activityDetail-title{
    padding-right: .3rem;
    
    .slogan{
        color: #999;
        line-height: 1.5;
    }
    
    .info{
        overflow: hidden;
        margin-top: .1rem;
        padding-bottom: .1rem;
        
        p{
            display: inline-block;
            line-height: 1;
            overflow: hidden;
            float: left;
            
            &.dataWrap{
                width: 3rem;
            }
            samp{
                font-size: .26rem;
                line-height: .3rem;
                color: #8c8c8c;
                
                i{
                    font-style: normal;
                    position: relative;
                    top: .01rem;
                }
            }
            
            .icon{
                display: inline-block;
                width: .3rem;
                height: .3rem;
                background-position: center;
                background-repeat: no-repeat;
                margin-right: .13rem;
                position: relative;
                top: .05rem;
                
                &.icon-data{
                    background-image: url('../images/日期@2x.png');
                    background-size: .26rem;
                }
                &.icon-userNum{
                    background-image: url('../images/人数@2x.png');
                    background-size: .28rem;
                }
                
                &.icon-address{
                    background-image: url('../images/收货地址@2x.png');
                    background-size: .2rem;
                }
                
            }
        }
    }
}
.titleWrap{
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    padding: 0 .3rem;
    
    .text{
        line-height: .9rem;
    }
    .icon{
        display: block;
        float: right;
        width: .15rem;
        height: .9rem;
        margin-left: .2rem;
        background-image: url('../images/更多-首页@2x.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
}
.activity-titleWrap{
    border-bottom: 0;
    
    .text samp{
        line-height: 1;
        color: $primary-color;
    }
}
.photoList{
    width: 100%;
    overflow: hidden;
    padding: 0 .17rem;
    
    .photo-item{
        width: .72rem;
        height: .72rem;
        border-radius: 50%;
        overflow: hidden;
        float: left;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: .1rem .15rem;
        border: 1px solid $border-color;
    }
}
.mallDetail-detail .nav{
    float: left;
    padding: .2rem .3rem;
    font-size: .26rem;
    border-bottom: 0.04rem solid transparent;
    
    &.active{
        border-bottom: 0.04rem solid $primary-color;
    }
}
.activityDetail-tag{
    padding: .08rem 0 0 .3rem;
    
    .nav{
        padding: .2rem;
        margin-left: .38rem;
        
        &:first-child{
            margin-left: 0;
        }
    }
}
.activity-detail{
    width: 100%;
    
    .title{
        width: 100%;
        overflow: hidden;
        padding: 0 .3rem;
        height: .9rem;
        
        .text{
            font-size: .28rem;
            overflow: hidden;
            line-height: .9rem;
            
            samp{
                display: inline-block;
                float: left;
                line-height: .9rem;
            }
            
            .icon{
                display: inline-block;
                width: .3rem;
                height: .9rem;
                float: left;
                margin-right: .13rem;
                background-position: center;
                background-repeat: no-repeat;
                background-size: .3rem;
                
                &.icon-liuyan{
                    background-image: url('../images/活动留言@2x.png');
                }
                
                &.icon-baoming{
                    background-image: url('../images/报名须知@2x.png');
                }
                
                &.icon-mianze{
                    background-image: url('../images/免责申明@2x.png');
                }
                
                &.icon-zhuyi{
                    background-image: url('../images/注意事项@2x.png');
                }
                
                &.icon-confirm{
                    background-image: url('../images/未选择@2x.png');
                }
                
                &.icon-tel{
                    background-image: url('../images/咨询电话@2x.png');
                }
                
                
            }
        }
        .confirm.active .icon-confirm {
            background-image: url('../images/选择@2x.png');
        }
    }
    
}
.actLiuyan-item{
    width: 100%;
    overflow: hidden;
    padding: .2rem .3rem;
    border-top: 1px solid $border-color;
    
    &:first-child{
        border-top: 0;
    }
    
    .userWrap{
        width: .88rem;
        float: left;
        
        .userPic{
            width: .88rem;
            height: .88rem;
            border-radius: 50%;
            overflow: hidden;
            float: left;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border: 1px solid $border-color;
        }
    }
    .info{
        width: 5.8rem;
        float: right;
        
        .nickName{
            font-size: .28rem;
        }
        
        .content{
            font-size: .24rem;
            line-height: 1.6;
            margin-top: .13rem;
        }
        .data{
            font-size: .24rem;
            color: #999;
            line-height: 1;
            margin-top: .15rem;
        }
    }
}
.activity-bottom{
    height: 1.2rem;
    border-top: 1px solid $border-color;
    padding: .18rem .3rem;
    
    .am-button{
        width: 3.3rem;
    }
}
.tNcomment-item{
    width: 100%;
    overflow: hidden;
    padding: .2rem 0;
    border-bottom: 1px solid $border-color;
    
    .userPicWrap{
        width: .9rem;
        float: left;
        
        .userPic{
            width: .6rem;
            height: .6rem;
            border-radius: 50%;
            border: 1px solid $border-color;
            overflow: hidden;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        
    }
    
    .info{
        width: 6rem;
        float: left;
        
        .userInfo{
            height: .6rem;
            padding-top: .05rem;
            margin-bottom: .2rem;
            position: relative;
            
            p{
                font-size: .26rem;
                line-height: 1;
            }
            samp{
                font-size: .22rem;
                color: #999;
                line-height: 1;
            }
        }
        
        .toComment{
            width: 100%;
            margin-bottom: .2rem;
            background-color: #f8f7f3;
            color: #c3b6a3;
            font-size: .26rem;
            padding: .1rem .15rem;
            border-radius: .08rem;
            
            .toNickName{
                margin-bottom: .05rem;
                samp{
                    color: #c3b6a3;
                    margin-left: .1rem;
                }
            }
        }
        
        .content{
            font-size: .26rem;
        }
        
        .bottomWrap{
            width: 100%;
            overflow: hidden;
            margin-top: .1rem;
            
            .reply{
                height: .5rem;
                line-height: 1;
                color: #666;
                font-size: .26rem;
                float: right;
                
                .icon{
                    display: inline-block;
                    width: .5rem;
                    height: .5rem;
                    background-image: url('../images/评论回复.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: auto .5rem;
                    margin-right: .05rem;
                    line-height: 1;
                }
                samp{
                    display: inline-block;
                    position: relative;
                    top:-.16rem;
                }
            }
        }
        
    }
}
.tNotes-comment{
    width: 100%;
    overflow: hidden;
    padding: .3rem 0 0;
    
    .title{
        text-align: center;
        font-size: .3rem;
        margin-bottom: .2rem;
    }
    .wrap{
        display: block;
        padding: 0 .3rem .2rem;
    } 
    .allTNotesComment{
        display: block;
        width: 2.2rem;
        padding: .1rem 0;
        overflow: hidden;
        text-align: center;
        color: $primary-color;
        margin: 0 auto .3rem;
    }
}
.tNDetail-bottom{
    width: 100%;
    height: 0.98rem;
    background-color: #fff;
    border-top: 1px solid #eee;
    padding: .15rem .3rem;
    
    .inputWrap{
        width: 6rem;
        height: 100%;
        border: 1px solid $border-color;
        padding: .1rem .2rem;
        border-radius: .08rem;
        
        .tNotesForm-comCon{
            resize: none;
            width: 100%;
            height: 100%;
            color: #333;
            font-size: .26rem;
        }
        
    }
    
    .comBtn{
        width: .8rem;
        height: .98rem;
        background-image: url('../images/发表评论.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto .4rem;
        margin-left: .1rem;
        position: absolute;
        bottom: 0;
        right: 0.2rem;
        z-index: 99;
    }
}
.tNDetail-bottom-wrap{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 101;
}

.activityAddBtn{
    display: block;
    width: .88rem;
    height: .88rem;
    opacity: .94;
    background-image: url('../images/发布@2x.png');
    background-position: center ;
    background-color: #A2DE22;
    background-repeat: no-repeat;
    background-size: .4rem;
    border-radius: 50%;
    position: fixed;
    bottom: 1rem;
    left: 50%;
    margin-left: -.44rem;
}

.rememberInfo{
    text-align: right;
    
    samp{
        display: inline-block;
        line-height: .3rem;
        color: #999;
    }
    
    i{
        display: inline-block;
        width: .3rem;
        height: .3rem;
        border-radius: .04rem;
        border: 1px solid #999;
        margin-left: .15rem;
        position: relative;
        top: .05rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 90%;
    }
    
    &.active i{
        
        border: 1px solid $primary-color;
        background-image: url('../images/勾.png');
    }
}

.hiddenInput{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
}
.account-item{
    display: block;
    width: 100%;
    height: 1.6rem;
    padding: 0 .6rem 0 .3rem;
    background-color: #fff;
    position: relative;
    
    p{
        font-size: .32rem;
        line-height: 1.6rem;
        
        samp{
            font-size: .38rem;
            color: $primary-color;
        }
    }
    
    .left-img{
        position: absolute;
        top: 50%;
        right: .3rem;
        margin-top: -.15rem;
        
        img{
            height: .3rem;
        }
    }
}

.account-wrap {
    height: 3.4rem;

    &.jf-account-wrap {
        height: 2rem;
    }

    .top-infos {
        width: 6rem;
        color: #fff;
        line-height: 1;
        padding-left: 0;

        .amount-tip {
            font-size: 0.24rem;
            text-align: center;
        }

        .remain-amount {
            font-size: 0.54rem;
            padding-top: 0.3rem;
            text-align: center;
        }

        .am-flexbox {
            margin-top: 0.6rem;

            .am-button {
                width: 2.44rem;
                background-color: transparent;
                color: #fff;
                border: 0.02rem solid #fff;
                line-height: 0.8rem;
                font-size: 0.3rem;
            }
        }
    }
}

.account-flow-list {
    background: #fff;

    .flow-item {
        border-bottom: 1px solid $border-color;
        padding: 0.27rem 0.3rem;

        &:last-child {
            border-bottom: none;
        }

        .flow-datetime {
            .f-date {
                font-size: 0.32rem;
            }

            .f-time {
                font-size: 0.24rem;
                color: #999;
            }
        }

        .flow-icon {
            margin: 0 0.38rem;

            i {
                display: inline-block;
                width: 0.72rem;
                height: 0.72rem;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 0.72rem 0.72rem;

                &.receive-icon {
                    @include bg-image('receive');
                }

                &.pay-icon {
                    @include bg-image('pay');
                }
            }
        }

        .flow-content {
            .f-transAmount {
                font-size: 0.36rem;
                line-height: 1;

                &.f-trans-red {
                    color: $primary-color;
                }

                &.f-trans-blue {
                    color: #67c3fd;
                }
            }

            .flow-remark {
                line-height: 1;
                font-size: 0.24rem;
                padding-top: 0.2rem;
            }
        }
    }
}
.xjk-top-wrap{
    height: 3rem !important;
}
.xjk-button{
    text-align: center;
    margin-top: .3rem;
    
    .am-button{
        width: 2rem;
        font-size: .28rem;
        background-color: transparent;
        display: inline-block;
        color: #fff;
        height: .7rem;
        line-height: .7rem;
        border: 1px solid #fff;
        
    }
}

.becauseWrap{
    padding: .15rem .3rem;
    font-size: .26rem;
}
.actComment-item{
    .info .toComment{
        margin-bottom: 0;
        margin-top: .2rem;
    }
}
.actOrderAmount{
    width: 100%;
    overflow: hidden;
    padding: .2rem .3rem;
    background-color: #fff;
    
    .amount{
        font-size: .24rem;
        
        i{
            font-style: normal;
            color: #999;   
        }
    }
    .totalAmount{
        font-size: .3rem;
        margin-top: .05rem;
        i{
            font-size: .24rem;
            font-style: normal;
            color: #999;   
        }
    }
}
.orderApplyNote{
    width: 100%;
    background-color: #fff;
    position: relative;
    padding: .3rem 0 .1rem;
    
    .title{
        font-size: .28rem;
        position: absolute;
        top: .3rem;
        left: .3rem;
        z-index: 11;
    }
    
    .textarea{
        width: 100%;
        height: 1rem;
        padding: 0 .3rem 0 1.8rem;
        font-size: .28rem;
    }
    
}
.mallOrderDetailWrap{
    .orderAddress{
        background: none;
        background-color: #fff;
        
        .icon{
            width: .4rem;
            background-size: .26rem;
            
            &.icon-dz{
                left: .25rem;
            }
        }
    }
    
    .orderExpress{
        .icon-dz{
            background-image: url('../images/快递@2x.png');
            background-size: .3rem;
        }
    }
    
    .storeAddress{
        background-color: #fff;
        padding: .3rem;
    }
    
    .orderInfo{
        background-color: #fff;
        padding: .3rem .3rem .2rem;
        
        p{
            font-size: .28rem;
            margin-bottom: .1rem;
        }
    }
    
    .orderApplyNote{
        padding: .3rem 0 .3rem;
        
        .textarea{
            height: auto;
        }
    }
    
    
    .mallBottom{
        padding: 0 .3rem;
        
        .am-button{
            height: .8rem;
            margin-top: .1rem;
        }
        
        .payBtn,.cancelBtn{
            width: 3.3rem;
        }
    }
}
#activityList.orderPro-list .mall-item .mall-item-con{
    line-height: 1;
    
    .name{
        line-height: 1.4;
    }
    
    .slogan{
        line-height: 1.2;
    }
    .samp1{
        margin-right: .05rem;
    }
    .realDeposit{
        font-size: .24rem;
        color: #999;
    }
}
.activityAddEditBody{
    .laydate_box{
        left: 1.6rem !important;
        margin-top: -.1rem;
    }
}
.tNotes-dsDialog{
    .am-modal-footer{
        text-align: center;
        padding-top: .5rem;
        padding-bottom: .5rem;
        
        .am-button{
            width: 1.6rem;
            display: inline-block;
            color: #fff;
        }
        .am-button-cancel{
            background-color: #DDDDDD;
            margin-right: .5rem;
        }
        
    }
}
.com-dsDialog{
     .inputWrap{
        width: 100%;
        height: 2rem;
        border: 1px solid $border-color;
        padding: .1rem .2rem;
        border-radius: .08rem;
    }
    .tNotesForm-comCon{
        resize: none;
        width: 100%;
        height: 100%;
        color: #333;
        font-size: .3rem;
        line-height: 1.5;
    }
    .am-modal .am-modal-body{
        padding: .3rem .6rem;
    }
    .am-modal .am-modal-footer{
        padding-top: 0;
        padding-bottom: .3rem;
    }
}
.detail p {
    line-height: 1.8;
}








